body {
  background-color: #f9f9f9;
}
.custom-scrollbar {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #007bff #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}
.toast {
  transition: opacity 0.5s ease;
}
.progress {
  height: 5px;
}
